<div class="form">
    <h1>Add products</h1>
    <form action="/admin/add-product" method="post">
        <input type="text" name="productname" placeholder="Product Name" required><br><br>
        <input type="number" name="productprice" placeholder="Product Price" required><br><br>
        <textarea type="text" name="productdescription" placeholder="Product Description" required></textarea><br><br>
        <button type="submit">Add Products</button>
    </form>
</div>