<form action="/admin/add-product" method="post">
    <input type="text" name="productname"><br><br>
    <input type="text" name="productprice"><br><br>
    <textarea type="text" name="productdescription"></textarea><br><br>
    <button type="submit">Add Products</button>
</form>